.container
{
   padding:2em;
    background: #ffffff !important;
}
.text-danger
{
    color:red !important;
    font-size: 18px !important;
}
.row_line
{
    width: inherit;
    height: 2px;
    background: #eeeeee;
    display: block;
    margin-bottom: 1em;
}
.btn-primary
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 62px;
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    background: -webkit-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513) !important;
}